body {
    font-family: Arial, sans-serif;
    background-image: url('school.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}


h1 {
    text-align: center;
    color: hsl(0, 0%, 100%)
}

#login-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
}

label {
    display: block;
    margin-bottom: 8px;
    color: hsl(0, 2%, 76%);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
